@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'react-toastify/dist/ReactToastify.css';

/* @import 'prismjs/themes/prism-okaidia.css'; */
@import './prism-vsc-dark-plus.css';

/* @import 'prismjs/themes/prism-dark.css';  */
/* @import 'prismjs/themes/prism-twilight.css'; */
/* @import 'prismjs/themes/prism-tomorrow.css'; */

body {
  background: #333;
  color: #cacaca;
}

.Toastify {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

#mocha {
  margin: 0;
  border-radius: .5rem;
  height: 10rem;
  overflow-y: scroll;
  /* overflow-y: hidden; */
  background: rgb(0 0 0 / 54%);
  padding: .5rem;
}

#mocha-stats {
  top: 4rem;
  background: #4d196f;
  padding: .5rem;
  border-radius: .5rem;
}