@import '~bootstrap/dist/css/bootstrap.min.css';

/* @import 'prismjs/themes/prism-okaidia.css'; */
@import './prism-vsc-dark-plus.css';

/* @import 'prismjs/themes/prism-dark.css';  */
/* @import 'prismjs/themes/prism-twilight.css'; */
/* @import 'prismjs/themes/prism-tomorrow.css'; */
  
body{
  background: #333;
  color: #cacaca;
}

.test {
  width: 20rem;
  height: 20rem;
}


