@import '~bootstrap/dist/css/bootstrap.min.css';

/* styles/prism.css */
@import 'prismjs/themes/prism-okaidia.css';
@import './prism-vsc-dark-plus.css';

  
body{
  background: #333;
  color: #cacaca;
}

.test {
  width: 20rem;
  height: 20rem;
}


